body {
    font-family: Arial, sans-serif;
  }
  
  .home {
    background-color: #fff; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C4C9C;
    padding: 20px 30px;
  }

  .navbar .nav-left {
    display: flex;
    align-items: center;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .navbar nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar .logout-btn {
    background-color: #ffffff;
    color: #2C4C9C;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    cursor: pointer;
  }
  
  .promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 2rem;
  }
  
  .promo .promo-text h1 {
    font-size: 68px;
    margin-bottom: 1rem;
  }
  
  .promo .promo-text p {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  
  .promo .promo-text .cta-btn {
    color: #fff;
    border: none;
    padding: 14px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 24px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(to right, #2C4C9C, #24a4f4);

  }
  
  /* .promo .promo-image {
    max-width: 357px;
    max-height: 357px;
  }
  
  .promo .promo-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  } */