  body {
    font-family: Arial, sans-serif;
  }
  
  .home {
    background-color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C4C9C;
    padding: 20px 30px;
  }
  
  .navbar .nav-left {
    display: flex;
    align-items: center;
  }
  
  
  .navbar img {
    width: 60%;
    height: 100%;
  }
  
  .navbar nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .navbar nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar .logout-btn {
    background-color: #fff;
    color: #2C4C9C;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    cursor: pointer;
  }
  
  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 3rem;
  }
  
  .promo .promo-text h1 {
    font-size: 70px;
    margin-bottom: 1rem;
    width: 690px;
  }
  
  .promo .promo-text p {
    font-size: 32px;
    margin-bottom: 1rem;
  }
  
  .promo .promo-text .cta-btn {
    color: #fff;
    border: none;
    padding: 14px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 24px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(to right, #2C4C9C, #24a4f4);
  }
  
  .promo-image {
    max-width: 450px;
    width: 100%;
    display: inline-block;
  }
  
  .promo-image img {
    margin-left: 40px; 
    display: block;
    max-width: 100%;
    height: fit-content;
  }
  